.media{
    display:flex;
    flex-direction:column;
    width:200px;
    margin: 15px 0px ;
    /* margin-right: ; */
    padding:4px;
    /* height:370px; */
    transition: transform 0.1s;
    border-radius:8px;
    position:relative;
    background-color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.badge-icon .MuiSvgIcon-root {
    color: white;
    font-size:1.8rem;
    
}

.badge-icon:hover .MuiSvgIcon-root {
    color: purple;
    background-color: lightgrey;
    
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.badge-icon:hover .MuiSvgIcon-root.red {
    color: red;
    transition: transform 0.2s;
}
.bookmark{
    display:flex;
    width:20%;
    border-radius:20%;
}
.bookmark:hover{
    color:white;
    background-color: black;
}
.media:hover{
    background-color: #b89abd;
    color:black; 
    transform: scale(1.06);
}
.overlay{
    position:absolute;
    transition: transform 0.2s;
    width:100%;
    background-color: rgba(25, 24, 24, 0.5);
    opacity:0;
    height:8px;
    bottom:0;
    border-radius:0 0 8px 8px;
    left:0;
    color: aliceblue;
    font-size: 15px;
    padding:20px; 
   
}
.overlay:hover{
    opacity:1;
    
}
@media(max-width:550px){
    .media{
        width:46%;
    }
}
.poster{
    border-radius: 8px;
}

.title{
    text-align: center;
    width: 100%;
    font-size: 15px;
    padding:8px ;
    font-weight:700;
}

.info{
    font-weight:500;
    display:flex;
    align-items:end;
    padding:5px;
    justify-content: space-between;
}