* {
  scroll-behavior:smooth ;
}
.app{
  min-height: 100vh;
  background: rgba(0, 0, 0,0.8);
  color:rgb(231, 218, 218);
  padding-top:130px;
  padding-bottom: 70px;
}
@media(max-width :700px){
  .app{
    padding-top:70px;
  }
}
.pageTitle{
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  font-size: 2vw;
  padding:4px;
  margin-top: 6px;
  border-radius: 50px;
  color:rgb(255, 255, 255);
  /* font-family:"Black Ops One", system-ui; ; */
  font-family: "DM Serif Text", serif;
}

@media(max-width:1000px){
  .pageTitle
  {
    font-size: 4.4vw;
  }
}